<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div >
    <table style="text-align: center; border: 10px blue solid; align: center;  min-width:100%;">
        <tr>
            <th style="border: 5px blue solid;">Name</th>
            <th style="border: 5px blue solid;">Series</th>
            <th style="border: 5px blue solid;">Country</th>
        </tr>
        <th:block th:each="car : ${cars}">
            <tr>
                <td th:text="${car.getName()}" style="border: 3px blue solid;">
                    name
                </td>

                <td th:text="${car.getSeries()}" style="border: 3px blue solid;">
                    series
                </td>

                <td th:text="${car.getCountry()}" style="border: 3px blue solid;">
                    country
                </td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>